# Kubernetes credentials
.kube/
*.kubeconfig
*kubeconfig*
config
hetzner-microk8s.yaml

# Secrets
.env
.env.*
*.secret.yaml

secrets/**
!secrets/**/
!secrets/**/*.example.yaml
*.key
*.pem
*.crt
*.token
mariadb-root-password.secret.yaml

# SSH keys
id_rsa*
id_ed25519*
*.pub

# Terraform / Ansible sensitive files
*.tfstate
*.tfstate.*
vault-password.txt
*.vault

# OS / editor
.DS_Store
Thumbs.db
.vscode/settings.json

# Logs
*.log

tutorial/

#Backup
dqlite-before-encryption-2026-06-22-140748.tar.gz